fastapi==0.115.2
uvicorn[standard]==0.30.6
prometheus-fastapi-instrumentator==6.1.0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-sdk==1.26.0
requests==2.32.3
pysnmp==4.4.12
paramiko==3.4.0
pywinrm==0.4.3